body {
	margin: 0;
	padding: 0;
	background-color: black;
	perspective: 150px;
}
#monitor {
	width: 60%;
	margin-left: 20%;
	margin-top: 100px;
	height: 400px;
	background-color: #333;
}
#screen {
	width: 80%;
	height: 80%;
	margin-left: 10%;
	top: 10%;
	background-color: #ccc;
	position: relative;
}
#controls {
	width: 67%;
	height: 50px;
	margin-left: 16.5%;
	background-color: #555;
	transform: rotateX(45deg);
}
.button {
	width: 8%;
	height: 20px;
	border-radius: 50%;
	background-color: #ff0000;
	float: left;
	margin-right: 8%;
	margin-top: 10px;
}
#button1 {
	margin-left: 50%;
}
.button:hover {
	background-color: #aa0000;
}